body {
  font-family: 'Trebuchet MS';
}

.example {
  text-align: center;
}

.example p {
  margin: 10px 70px;
  text-align: left;
}

.chart-container {
  margin-top: 20px;
}

button {
  font-size: 14px;
}

.tooltip {
  background: white;
  border: 1px solid slategray;
  border-radius: 10px;
  padding: 10px;
}

.tooltip p {
  margin: 0.5em 0;
}

.tooltip ul {
  padding-left: 20px;
  margin: 0;
}