body {
  font-family: 'Trebuchet MS';
}

.example {
  text-align: center;
}

.example p {
  margin: 10px 70px;
  text-align: left;
}

.overlay {
  background: rgba(255,255,255,0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.chart-container {
  margin-top: 20px;
}

button {
  font-size: 14px;
}

.tooltip {
  background: white;
  border: 1px solid slategray;
  border-radius: 10px;
  padding: 10px;
  min-width: 200px;
  max-width: 400px;
}

.tooltip p {
  margin: 0.5em 0;
}

.tooltip ul {
  padding-left: 20px;
  margin: 0;
}

.line {
  stroke-width: 2px;
}

.axis.tilted text {
  transform: translate(17px, 15px) rotate(45deg);
}
